.expansion-panel {
  min-width:400px;
  max-width: 100%;
  margin-left: var(--cedar-space-4);
  margin-right: var(--cedar-space-4);
  margin-top: var(--cedar-space-2);
}

.expansion-panel.mat-expanded {
  margin-top: var(--cedar-space-6);
}
