.search-wrapper-card {
  min-width: 400px;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 16px;
}

.resource-id-form-field {
  width: 100%;
}

.report-wrapper-card {
  min-width: 600px;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 16px;
  margin-bottom: 16px;
}
