<app-header title="Resource Counts"></app-header>

<mat-card class="wrapper-card">

  <mat-card class="counts-card" *ngIf="resourceCounts">
    <mat-card-header>
      <mat-card-title>Resource Counts</mat-card-title>
      <mat-card-subtitle>
        Loaded from various datastores
      </mat-card-subtitle>
    </mat-card-header>

    <mat-card-content style="margin-top:16px">

      <table mat-table [dataSource]="dataSource">

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        <ng-container matColumnDef="position">
          <th mat-header-cell *matHeaderCellDef>#</th>
          <td mat-cell *matCellDef="let element">{{element.position}}</td>
        </ng-container>

        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>Resource Type</th>
          <td mat-cell *matCellDef="let element">{{element.name}}</td>
        </ng-container>

        <ng-container matColumnDef="neo4j">
          <th mat-header-cell *matHeaderCellDef>Neo4j</th>
          <td mat-cell *matCellDef="let element">{{element.neo4j}}</td>
        </ng-container>

        <ng-container matColumnDef="mongo">
          <th mat-header-cell *matHeaderCellDef>MongoDB</th>
          <td mat-cell *matCellDef="let element">{{element.mongo}}</td>
        </ng-container>

        <ng-container matColumnDef="opensearch">
          <th mat-header-cell *matHeaderCellDef>OpenSearch</th>
          <td mat-cell *matCellDef="let element">{{element.opensearch}}</td>
        </ng-container>

        <ng-container matColumnDef="keycloak">
          <th mat-header-cell *matHeaderCellDef>Keycloak</th>
          <td mat-cell *matCellDef="let element">{{element.keycloak}}</td>
        </ng-container>

      </table>

    </mat-card-content>
    <mat-card-actions>
      <button mat-button routerLink="/">GO BACK</button>
    </mat-card-actions>
  </mat-card>

</mat-card>
