<mat-expansion-panel expanded="false" class="expansion-panel">
  <mat-expansion-panel-header>
    <mat-panel-title>
      <mat-icon>{{icon}}</mat-icon>
      &nbsp;
      {{title}}
    </mat-panel-title>
    <mat-panel-description>
      <div style="width:100%"></div>
      <mat-icon matRipple [cdkCopyToClipboard]="inputObject | json" (click)="stopPropagation($event)">content_copy
      </mat-icon>
      <div style="width:24px"></div>
    </mat-panel-description>
  </mat-expansion-panel-header>

  <ng-template matExpansionPanelContent>
    <mat-card-header>
      <mat-card-subtitle>{{subtitle}}</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <pre>{{inputObject | json}}</pre>
    </mat-card-content>
  </ng-template>
</mat-expansion-panel>
